<% if Restaurant.all.any? %>
  <% Restaurant.all.each do |restaurant| %>
    <div style="background: #ddd; width: 350px;">
      <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
      <!-- <h2><%= link_to restaurant.description, restaurant_path(restaurant) %></h2> -->
      <p>Description: <%= restaurant.description %></p>
      <h3><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></h3>
    </div>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>


<a href="restaurants/new">Add a restaurant</a>
